<footer class="text-white text-center">
    <div class="container-fluid p-5">
        <div class="row pt-5">
            <div class="col-md-4">
                <h2>LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h2>AROUND THE WEB</h2>
                <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                <i class="fa-brands fa-linkedin-in" style="color: #f6f6f6;"></i>
                <i class="fa-solid fa-globe" style="color: #ffffff;"></i>
            </div>
            <div class="col-md-4">
                <h2>ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="footer-end p-3">
        <p class="pt-2">Copyright © Your Website 2021</p>
    </div>
</footer>