<section>
    <div class=" d-flex flex-column justify-content-center align-items-center vh-100 text-white text-center">
        <div>
            <h1>about component</h1>
            <div class="i"><i class="fa-solid fa-star" style="color: #ffffff;"></i></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-start ps-5">
                    <p>Freelancer is a free bootstrap theme created by Route. The <br/> download includes the complete source files including HTML <br/>, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
                <div class="col-md-6 text-start">
                    <p>Freelancer is a free bootstrap theme created by Route. The <br/> download includes the complete source files including HTML <br/>, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
        </div>
    </div>
</section>