<section class="text-center vh-100">
    <h1>conatct section</h1>
    <div class="i"><i class="fa-solid fa-star" style="color: #2C3E50;"></i></div>
    <div class="container">
      <div class="d-flex flex-column align-items-center w-75 m-auto">
        <input type="text" placeholder="userName" class="form-control mb-5  mt-5">
        <input type="number" placeholder="userAge" class="form-control mb-5 ">
        <input type="text" placeholder="userEmail" class="form-control mb-5 ">
        <input type="password" placeholder="userPassword" class="form-control mb-5 ">
        <button type="button" class="btn text-white align-self-start ">send Message</button>
      </div>
    </div>
    
</section>
